[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plugged/vim-airline-themes"]
	path = plugged/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "plugged/seoul256.vim"]
	path = plugged/seoul256.vim
	url = git@github.com:junegunn/seoul256.vim.git
[submodule "plugged/fzf.vim"]
	path = plugged/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
